<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management</title>
    
</head>
<body>
    <div class="container">
        <h1>List Task</h1>
        
        <!-- Task Form -->
       

        <!-- Task List -->
      
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Task 1</td>
                    <td> Huyền My</td>
                </tr>
                <tr>
                    <td>Task 2</td>
                    <td>thành phátt </td>
                </tr>
                <tr>
                  <td>Task 3</td>
                  <td>thái Phủ </td>
              </tr>
                <!-- Add more task rows here -->
            </tbody>
        </table>
    </div>
</body>
</html>
