.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #2c3e50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
  }
  .square-btn-adjust {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #dc3545; /* Adjust the color if needed */
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
  }

  .square-btn-adjust:hover {
    background-color: #c82333;
    transform: scale(1.05);
  }

  .square-btn-adjust:active {
    background-color: #bd2130;
    transform: scale(1);
  }
  a{
    float: right;
  }
  .sidebar-collapse ul li ul {
    list-style-type: none;
    padding-left: 15px;
}

.sidebar-collapse ul li ul li {
    padding: 5px 0;
}

.sidebar-collapse ul li ul li a {
    font-size: 15px;
    color: #b8c7ce;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-left: 3px solid transparent;
    transition: all 0.3s ease;
}

.sidebar-collapse ul li ul li a i {
    margin-right: 10px; /* Spacing between icon and text */
}

.sidebar-collapse ul li ul li a:hover {
    background-color: #1a2226;
    color: #ffffff;
    border-left: 3px solid #ffcc00; /* Highlight with left border */
}

